* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
	font-family: sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.container h1 {
	font-size: 3vmax;
	margin-bottom: 20px;
}

.container .barcodes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.container .barcodes .barcode {
	width: 100%;
	max-width: 500px;
	margin-bottom: 20px;
}

.container .barcodes .barcode img {
	width: 100%;
	min-height: 250px;
	max-height: 250px;
}

.container .pagination {
	margin-top: 20px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
}

.container .pagination div {
	flex: 2;
}

.container .pagination div:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .pagination div:first-child {
	flex: .5
}

.container .pagination div:last-child {
	flex: .5
}

.container .pagination a {
	display: inline-block;
	padding: 20px 40px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 5px;
	text-decoration: none;
	color: #333;
}

.container .pagination .current {
	background-color: #333;
}

.container .pagination .current {
	color: #fff;
}

.container .pagination .current:hover {
	background-color: #333;
}


.container .pagination a:hover {
	background-color: #eee;
}

.container .pagination a.active {
	background-color: #333;
	color: #fff;
}

.barcode__title {
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}

.barcode__show {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	z-index: 9999;
	flex-direction: column;
}

.barcode__show__img {
	margin: 20px;
	max-width: 500px;
	width: 100%;
	display: block;
}

.barcode__show .barcode__title {
	color: #fff;
	font-size: 30px;
	margin-top: 20px;
}

.barcode__generate {
	margin-bottom: 20px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}

.barcode__generate label {
	display: block;
	margin-bottom: 5px;
}

.barcode__generate input {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
}

.barcode__generate input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

.barcode__generate input[type="submit"]:hover {
	background-color: #222;
}

@media (max-width: 1050px) {
	.container .barcodes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container .barcodes .barcode {
		width: 100%;
		max-width: 500px;
	}
}

.page__count {
	text-align: end;
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: normal;
}